<h1>Welcome to the GA Library!</h1>

<p>
  Take a look at our book collection. You can check out our <%= link_to 'books', books_path %>, <%= link_to 'authors', authors_path %>, and our <%= link_to 'categories', categories_path %>.
</p>
